<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include head.ejs %>
</head>

<body id="index">
<% include nav.ejs %>

<header class="wrapper main-img" data-parallax="scroll" data-image-src="images/01.jpg" data-speed=0.5>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-xs-center">
                <div class="slog">
                    <h1 class="editContent">農業生產力4.0共通平台</h1>
                    <h3 class="editContent">智慧生產．數位服務</h3>
                    <br>
                    <a href="/developers" class="btn btn-primary btn-hg btn-wide">立即前往使用</a>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="wrapper">
    <div class="container-fluid intro bg-offwhite">
        <div class="row">
            <div class="col-xs-12 col-md-6 editContent text-xs-center">
                <div>
                    <h1 class="title text-xs-center">大數據</h1>
                    <hr>
                    <h4 class="subtitle">匯集多方感測資料</h4>
                    <h4 class="subtitle">實現多元化數位農業應用平台</h4>
                </div>
            </div>
            <div class="hidden-sm-down col-md-6">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg width="496px" height="435px" viewBox="0 0 496 435" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 3.8.1 (29687) - http://www.bohemiancoding.com/sketch -->
                    <title>bigdata1</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="bigdata1">
                            <g id="source5" transform="translate(376.000000, 173.000000)">
                                <circle id="Oval" fill="#F9DD53" cx="66.317507" cy="42.7686757" r="42.5"></circle>
                                <text id="農業產銷資料" font-family="PingFangTC-Semibold, PingFang TC" font-size="20"
                                      font-weight="500" fill="#4A4A4A">
                                    <tspan x="0.966542332" y="42.3151751">農業產銷資料</tspan>
                                </text>
                            </g>
                            <g id="source4" transform="translate(329.000000, 298.000000)">
                                <path d="M88.3256688,72.7225553 C72.7071232,88.341101 47.959598,89.2612634 31.2634938,75.4830425 C30.21015,74.6234171 29.2052358,73.7032547 28.2245364,72.7225553 C11.6252914,56.1233102 11.6252914,29.2085606 28.2245364,12.6093155 C36.6149645,4.21888748 47.6448057,0.06604936 58.650432,0.162908558 C69.401803,0.259767756 80.1168518,4.41260587 88.3256688,12.6093155 C104.924914,29.2085606 104.924914,56.1233102 88.3256688,72.7225553 L88.3256688,72.7225553 Z"
                                      id="Shape" fill="#F9DD53"></path>
                                <text id="農業資訊業者" font-family="PingFangTC-Semibold, PingFang TC" font-size="20"
                                      font-weight="500" fill="#4A4A4A">
                                    <tspan x="0.163424125" y="44.6575875">農業資訊業者</tspan>
                                    <tspan x="20.1634241" y="72.6575875">應用資料</tspan>
                                </text>
                            </g>
                            <g id="source3" transform="translate(168.000000, 349.000000)">
                                <path d="M128.879571,42.7036502 C128.879571,66.1782265 109.8602,85.2097035 86.3856239,85.2097035 C83.0078999,85.2097035 79.7391348,84.8222943 76.591435,84.0716889 C69.0611687,82.3041345 62.3057208,78.5268948 56.906205,73.3331902 C48.8795706,65.5971127 43.8795706,54.7375485 43.8795706,42.7036502 C43.8795706,19.2290739 62.9110476,0.209703475 86.3856239,0.209703475 C92.7415561,0.209703475 98.7706118,1.60195529 104.182234,4.10800856 C109.823881,6.71091413 114.787561,10.5123669 118.770612,15.1854904 C125.078118,22.5946914 128.879571,32.2072822 128.879571,42.7036502 L128.879571,42.7036502 Z"
                                      id="Shape" fill="#F9DD53"></path>
                                <text id="農業相關研究資料" font-family="PingFangTC-Semibold, PingFang TC" font-size="20"
                                      font-weight="500" fill="#4A4A4A">
                                    <tspan x="0.894941634" y="44.1810507">農業相關研究資料</tspan>
                                </text>
                            </g>
                            <g id="source2" transform="translate(55.000000, 300.000000)">
                                <circle id="Oval" fill="#F9DD53" cx="66.4876452" cy="42.6606011" r="42.5"></circle>
                                <text id="農業相關單位" font-family="PingFangTC-Semibold, PingFang TC" font-size="20"
                                      font-weight="500" fill="#4A4A4A">
                                    <tspan x="0.0972762646" y="43.8560311">農業相關單位</tspan>
                                </text>
                            </g>
                            <g id="source1" transform="translate(0.000000, 173.000000)">
                                <circle id="Oval" fill="#F9DD53" cx="66.4416342" cy="42.7686757" r="42.5"></circle>
                                <text id="農業感測資料" font-family="PingFangTC-Semibold, PingFang TC" font-size="20"
                                      font-weight="500" fill="#4A4A4A">
                                    <tspan x="0" y="44.2490272">農業感測資料</tspan>
                                </text>
                            </g>
                            <g id="cloud" transform="translate(75.000000, 42.000000)">
                                <path d="M73.8836097,27.4432331 C73.7177296,14.1259398 63.5957908,3.38345865 51.1190051,3.38345865 C42.7664541,3.38345865 35.4872449,8.20827068 31.5223852,15.381203 C30.1530612,14.9041353 28.6926658,14.6368421 27.1737245,14.6368421 C20.4637117,14.6368421 14.8628189,19.6849624 13.4869898,26.424812 C7.78201531,29.3515038 3.81065051,35.5804511 3.81065051,42.7703008 C3.81065051,52.7413534 11.4313776,60.9022556 20.7499362,60.9022556 L55.7961735,60.9022556 C55.9945791,60.9022556 56.183227,60.8785714 56.3816327,60.8718045 C56.5767857,60.8785714 56.7686862,60.9022556 56.9670918,60.9022556 L70.9855867,60.9022556 C79.6503827,60.9022556 86.747449,53.306391 86.747449,44.0221805 C86.747449,35.8003759 81.1790816,28.9150376 73.8836097,27.4432331 L73.8836097,27.4432331 Z"
                                      id="Shape" fill="#368CD6"></path>
                                <path d="M70.9758291,64.2857143 L56.9573342,64.2857143 C56.7524235,64.2857143 56.5475128,64.2721805 56.3458546,64.2586466 C56.1929847,64.2721805 55.9945791,64.2857143 55.7896684,64.2857143 L20.7466837,64.2857143 C9.61320153,64.2857143 0.554846939,54.6327068 0.554846939,42.7736842 C0.554846939,35.1203008 4.48718112,27.981203 10.6897959,24.1545113 C12.9210459,16.5924812 19.621301,11.2533835 27.1672194,11.2533835 C28.1299745,11.2533835 29.0927296,11.3379699 30.0424745,11.5105263 C34.9082908,4.35112782 42.7729592,0 51.1190051,0 C64.4609694,0 75.591199,10.9116541 76.9897959,24.8075188 C84.6593112,27.5345865 90,35.225188 90,44.0221805 C90,55.1943609 81.4653061,64.2857143 70.9758291,64.2857143 L70.9758291,64.2857143 Z M56.2190051,57.4883459 L56.8239796,57.5086466 L70.9758291,57.518797 C77.8777423,57.518797 83.494898,51.462406 83.494898,44.0221805 C83.494898,37.5360902 79.191773,31.9635338 73.2623724,30.762406 L70.6635842,30.2379699 L70.6278061,27.487218 C70.4879464,16.0612782 61.7385842,6.76691729 51.1190051,6.76691729 C44.1748087,6.76691729 37.9038903,10.6206767 34.3423469,17.0695489 L33.0120536,19.475188 L30.4848214,18.5921053 C29.4049745,18.2131579 28.2893495,18.0203008 27.1704719,18.0203008 C22.1615434,18.0203008 17.7445791,21.8537594 16.6679847,27.1285714 L16.3362245,28.7357143 L14.9213648,29.4597744 C10.1433673,31.912782 7.05994898,37.1368421 7.05994898,42.7736842 C7.05994898,50.9041353 13.2007653,57.518797 20.7466837,57.518797 L56.2190051,57.4883459 L56.2190051,57.4883459 Z"
                                      id="Shape" fill="#B1D3EF"></path>
                            </g>
                            <g id="cloud" transform="translate(297.000000, 31.571429)">
                                <path d="M98.5114796,36.5909774 C98.2903061,18.8345865 84.7943878,4.5112782 68.1586735,4.5112782 C57.0219388,4.5112782 47.3163265,10.9443609 42.0298469,20.5082707 C40.2040816,19.8721805 38.2568878,19.5157895 36.2316327,19.5157895 C27.284949,19.5157895 19.8170918,26.2466165 17.9826531,35.2330827 C10.3760204,39.1353383 5.08086735,47.4406015 5.08086735,57.0270677 C5.08086735,70.3218045 15.2418367,81.2030075 27.6665816,81.2030075 L74.394898,81.2030075 C74.6594388,81.2030075 74.9109694,81.1714286 75.1755102,81.162406 C75.4357143,81.1714286 75.6915816,81.2030075 75.9561224,81.2030075 L94.647449,81.2030075 C106.20051,81.2030075 115.663265,71.075188 115.663265,58.6962406 C115.663265,47.7338346 108.238776,38.5533835 98.5114796,36.5909774 L98.5114796,36.5909774 Z"
                                      id="Shape" fill="#368CD6"></path>
                                <path d="M94.6344388,85.7142857 L75.9431122,85.7142857 C75.669898,85.7142857 75.3966837,85.6962406 75.1278061,85.6781955 C74.9239796,85.6962406 74.6594388,85.7142857 74.3862245,85.7142857 L27.6622449,85.7142857 C12.817602,85.7142857 0.739795918,72.843609 0.739795918,57.0315789 C0.739795918,46.8270677 5.98290816,37.3082707 14.2530612,32.206015 C17.2280612,22.1233083 26.1617347,15.0045113 36.2229592,15.0045113 C37.5066327,15.0045113 38.7903061,15.1172932 40.0566327,15.3473684 C46.5443878,5.80150376 57.0306122,3.19744231e-14 68.1586735,3.19744231e-14 C85.9479592,3.19744231e-14 100.788265,14.5488722 102.653061,33.0766917 C112.879082,36.712782 120,46.9669173 120,58.6962406 C120,73.5924812 108.620408,85.7142857 94.6344388,85.7142857 L94.6344388,85.7142857 Z M74.9586735,76.6511278 L75.7653061,76.6781955 L94.6344388,76.6917293 C103.83699,76.6917293 111.326531,68.6165414 111.326531,58.6962406 C111.326531,50.0481203 105.589031,42.6180451 97.6831633,41.0165414 L94.2181122,40.3172932 L94.1704082,36.6496241 C93.9839286,21.4150376 82.3181122,9.02255639 68.1586735,9.02255639 C58.8997449,9.02255639 50.5385204,14.1609023 45.7897959,22.7593985 L44.0160714,25.9669173 L40.6464286,24.7894737 C39.2066327,24.2842105 37.7191327,24.0270677 36.2272959,24.0270677 C29.5487245,24.0270677 23.6594388,29.1383459 22.2239796,36.1714286 L21.7816327,38.3142857 L19.8951531,39.2796992 C13.5244898,42.5503759 9.41326531,49.5157895 9.41326531,57.0315789 C9.41326531,67.8721805 17.6010204,76.6917293 27.6622449,76.6917293 L74.9586735,76.6511278 L74.9586735,76.6511278 Z"
                                      id="Shape" fill="#B1D3EF"></path>
                            </g>
                            <g id="cloud" transform="translate(171.000000, 0.058824)">
                                <path d="M83.9607143,5.57275542 C70.2035714,5.57275542 58.2142857,13.5195046 51.6839286,25.3337461 C49.4285714,24.5479876 47.0232143,24.1077399 44.5214286,24.1077399 C33.4696429,24.1077399 24.2446429,32.422291 21.9785714,43.5232198 C12.5821429,48.3436533 6.04107143,58.603096 6.04107143,70.4452012 C6.04107143,86.8681115 18.5928571,100.309598 33.9410714,100.309598 L91.6642857,100.309598 C91.9910714,100.309598 92.3017857,100.270588 92.6285714,100.259443 C92.95,100.270588 93.2660714,100.309598 93.5928571,100.309598 L116.682143,100.309598 C130.953571,100.309598 142.642857,87.7987616 142.642857,72.5071207 C142.642857,58.9653251 133.471429,47.6247678 121.455357,45.2006192 C121.182143,23.2662539 104.510714,5.57275542 83.9607143,5.57275542 Z"
                                      id="Shape" fill="#368CD6"></path>
                                <path d="M116.666071,105.882353 L93.5767857,105.882353 C93.2392857,105.882353 92.9017857,105.860062 92.5696429,105.837771 C92.3178571,105.860062 91.9910714,105.882353 91.6535714,105.882353 L33.9357143,105.882353 C15.5982143,105.882353 0.678571429,89.9832817 0.678571429,70.450774 C0.678571429,57.8452012 7.15535714,46.0866873 17.3714286,39.7839009 C21.0464286,27.3287926 32.0821429,18.5349845 44.5107143,18.5349845 C46.0964286,18.5349845 47.6821429,18.6743034 49.2464286,18.9585139 C57.2607143,7.16656347 70.2142857,0 83.9607143,0 C105.935714,0 124.267857,17.9721362 126.571429,40.8594427 C139.203571,45.3510836 148,58.0179567 148,72.5071207 C148,90.9083591 133.942857,105.882353 116.666071,105.882353 L116.666071,105.882353 Z M92.3607143,94.6866873 L93.3571429,94.7201238 L116.666071,94.7368421 C128.033929,94.7368421 137.285714,84.7616099 137.285714,72.5071207 C137.285714,61.8241486 130.198214,52.6458204 120.432143,50.6674923 L116.151786,49.8037152 L116.092857,45.273065 C115.8625,26.45387 101.451786,11.1455108 83.9607143,11.1455108 C72.5232143,11.1455108 62.1946429,17.4928793 56.3285714,28.1145511 L54.1375,32.0767802 L49.975,30.622291 C48.1964286,29.9981424 46.3589286,29.6804954 44.5160714,29.6804954 C36.2660714,29.6804954 28.9910714,35.9944272 27.2178571,44.6823529 L26.6714286,47.3294118 L24.3410714,48.5219814 C16.4714286,52.5622291 11.3928571,61.1665635 11.3928571,70.450774 C11.3928571,83.8421053 21.5071429,94.7368421 33.9357143,94.7368421 L92.3607143,94.6866873 L92.3607143,94.6866873 Z"
                                      id="Shape" fill="#B1D3EF"></path>
                            </g>
                            <g id="Group" transform="translate(135.591440, 201.326848)" fill="#E6E6E6">
                                <rect id="Rectangle-path" x="104.735972" y="77.505697" width="15.456863"
                                      height="52.5152073"></rect>
                                <rect id="Rectangle-path"
                                      transform="translate(182.580824, 78.234817) rotate(225.000000) translate(-182.580824, -78.234817) "
                                      x="156.323472" y="70.5064592" width="52.5147037" height="15.4567148"></rect>
                                <rect id="Rectangle-path" x="0.561599356" y="0.38966859" width="52.5152073"
                                      height="15.456863"></rect>
                                <rect id="Rectangle-path" x="177" y="0" width="52.5152073" height="15.456863"></rect>
                                <rect id="Rectangle-path"
                                      transform="translate(42.347325, 78.234806) rotate(225.000000) translate(-42.347325, -78.234806) "
                                      x="34.6189681" y="51.9774546" width="15.4567148" height="52.5147037"></rect>
                            </g>
                            <g id="database" transform="translate(211.454448, 169.721723)">
                                <path d="M76.4247242,12.5418362 L76.4247242,12.5418362 C75.2717684,5.54662707 58.8007459,0 38.6421575,0 C18.4835691,0 2.01254665,5.54662707 0.859590851,12.5418362 L0.859590851,12.5418362 L0.78861546,12.5418362 L0.78861546,13.325701 L0.78861546,31.3545906 L0.78861546,32.1384553 L0.78861546,32.9223201 L0.78861546,50.1673449 L0.78861546,50.9512097 L0.78861546,51.7350744 L0.78861546,70.5478288 L0.859590851,70.5478288 C2.01254665,77.5414702 18.4851464,83.089665 38.6421575,83.089665 C58.7991687,83.089665 75.2717684,77.5414702 76.4247242,70.5478288 L76.4956996,70.5478288 L76.4956996,51.7350744 L76.4956996,50.9512097 L76.4956996,50.1673449 L76.4956996,32.9223201 L76.4956996,32.1384553 L76.4956996,31.3545906 L76.4956996,13.325701 L76.4956996,12.5418362 L76.4247242,12.5418362 L76.4247242,12.5418362 Z"
                                      id="Shape" fill="#424A60"></path>
                                <path d="M38.6421575,26.651402 C42.9859558,26.651402 47.158866,26.3938339 51.0443723,25.9197151 C65.8591213,24.111984 76.4956996,19.1561215 76.4956996,13.325701 C76.4956996,5.96611955 59.5480915,0 38.6421575,0 C17.7362235,0 0.78861546,5.96611955 0.78861546,13.325701 C0.78861546,20.6852824 17.7362235,26.651402 38.6421575,26.651402 Z"
                                      id="Oval" fill="#7FABDA"></path>
                                <g id="Group" transform="translate(0.000000, 50.167345)" fill="#424A60">
                                    <path d="M38.6421575,14.1095658 C17.7359617,14.1095658 0.78861546,8.14278717 0.78861546,0.783864764 L0.78861546,20.3804839 L0.859590851,20.3804839 C2.01254665,27.3741253 18.4851464,32.9223201 38.6421575,32.9223201 C58.7991687,32.9223201 75.2717684,27.3741253 76.4247242,20.3804839 L76.4956996,20.3804839 L76.4956996,0.783864764 C76.4956996,8.14278717 59.5483534,14.1095658 38.6421575,14.1095658 L38.6421575,14.1095658 Z"
                                          id="Shape"></path>
                                    <path id="Shape"></path>
                                    <path id="Shape"></path>
                                </g>
                                <g id="Group" transform="translate(0.000000, 31.354591)" fill="#556080">
                                    <path d="M38.6421575,14.1095658 C17.7359617,14.1095658 0.78861546,8.14278717 0.78861546,0.783864764 L0.78861546,20.3804839 L0.859590851,20.3804839 C2.01254665,27.3741253 18.4851464,32.9223201 38.6421575,32.9223201 C58.7991687,32.9223201 75.2717684,27.3741253 76.4247242,20.3804839 L76.4956996,20.3804839 L76.4956996,0.783864764 C76.4956996,8.14278717 59.5483534,14.1095658 38.6421575,14.1095658 L38.6421575,14.1095658 Z"
                                          id="Shape"></path>
                                    <path id="Shape"></path>
                                    <path id="Shape"></path>
                                </g>
                                <g id="Group" transform="translate(0.000000, 12.541836)" fill="#7383BF">
                                    <path d="M38.6421575,14.1095658 C17.7359617,14.1095658 0.78861546,8.14278717 0.78861546,0.783864764 L0.78861546,20.3804839 L0.859590851,20.3804839 C2.01254665,27.3741253 18.4851464,32.9223201 38.6421575,32.9223201 C58.7991687,32.9223201 75.2717684,27.3741253 76.4247242,20.3804839 L76.4956996,20.3804839 L76.4956996,0.783864764 C76.4956996,8.14278717 59.5483534,14.1095658 38.6421575,14.1095658 L38.6421575,14.1095658 Z"
                                          id="Shape"></path>
                                    <path id="Shape"></path>
                                    <path id="Shape"></path>
                                </g>
                                <polygon id="Shape" fill="#F2F2F2" opacity="0.23"
                                         points="77.284315 29.4963907 77.284315 83.8022693 46.9713458 83.8022693"></polygon>
                                <polygon id="Shape" fill="#F2F2F2" opacity="0.23"
                                         points="30.738092 0 0.425122769 58.9927814 0.425122769 0"></polygon>
                            </g>
                            <g id="upload" transform="translate(241.926070, 115.326848)" fill="#D0011B">

                                <polygon class="upload1" id="Triangle-1"
                                         points="6.34000015 1.13686838e-13 12.6800003 8.83757597 0 8.83757597">
                                    <animate
                                            attributeName="opacity"
                                            dur="1s"
                                            values="0;1;0"
                                            repeatCount="indefinite"
                                            begin="0.3"/>
                                </polygon>
                                <polygon class="upload2" id="Triangle-1"
                                         points="6.34000015 13.837576 12.6800003 22.6751519 0 22.6751519">
                                    <animate
                                            attributeName="opacity"
                                            dur="1s"
                                            values="0;1;0"
                                            repeatCount="indefinite"
                                            begin="0.2"/>
                                </polygon>
                                <polygon class="upload3" id="Triangle-1"
                                         points="6.34000015 29.155642 12.6800003 37.993218 0 37.993218">
                                    <animate
                                            attributeName="opacity"
                                            dur="1s"
                                            values="0;1;0"
                                            repeatCount="indefinite"
                                            begin="0.1"/>
                                </polygon>
                            </g>
                        </g>
                    </g>
                </svg>
                <!--<img class="wow fadeInRight img-fluid" src="images/bigdata.svg"/>-->
            </div>
        </div>
    </div>

    <div class="container-fluid intro bg-tan">
        <div class="row">
            <div class="hidden-sm-down col-md-6">
                <!--<img class="wow fadeInLeft img-fluid pull-right" src="images/openapi.svg"/>-->
                <svg id="openapi" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     width="481px" height="381px" viewBox="0 0 481 381" version="1.1">
                    <#comment/>
                    <title>
                        openapi
                    </title>
                    <desc>
                        Created with Sketch.
                    </desc>
                    <defs/>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="openapi">
                            <polygon id="Shape" fill="#368CD6"
                                     points="481 380.60533 0 380.60533 0 126.316887 240.5 23.011954 481 126.316887"/>
                            <polygon id="Shape" fill="#9E5A23"
                                     points="33.1720898 380.60533 447.82791 380.60533 447.82791 348.818712 33.1720898 348.818712"/>
                            <g id="plants" transform="translate(23.000000, 227.670782)">
                                <g id="plant3" transform="translate(157.845895, 38.976820)">
                                    <path d="M31.7261291 86.8999573L31.7261291 3.68866328C31.7261291 1.97245456 33.6795246 0.579553775 36.0962699 0.579553775 38.5130151 0.579553775 40.4664106 1.97245456 40.4664106 3.68866328L40.4664106 86.8999573C40.4659156 88.6193358 38.5125201 90.0090669 36.0962699 90.0090669 33.6795246 90.0090669 31.7261291 88.6193358 31.7261291 86.8999573Z"
                                          id="stem" fill="#4CAF50"
                                          transform="translate(36.096270, 45.294310) rotate(360.000000) translate(-36.096270, -45.294310) "/>
                                    <path d="M36.0962699 34.0901756C36.0962699 20.3421921 51.7318494 9.21835613 71.0559109 9.21835613 71.0554159 22.9663397 55.4198363 34.0901756 36.0962699 34.0901756"
                                          id="leafR" fill="#81C784"/>
                                    <path d="M36.0962699 71.3977288C36.0962699 57.6497453 51.7318494 46.5259093 71.0559109 46.5259093 71.0554159 60.2738929 55.4198363 71.3977288 36.0962699 71.3977288"
                                          id="leafR" fill="#81C784"/>
                                    <path d="M1.13662878 27.8723088C20.4606903 27.8723088 36.0962699 38.9961448 36.0962699 52.7441283 16.7722083 52.7441283 1.13662878 41.6202924 1.13662878 27.8723088"
                                          id="leafL" fill="#81C784"
                                          transform="translate(18.616449, 40.308219) rotate(365.000000) translate(-18.616449, -40.308219) "/>
                                </g>
                                <g id="plant2" transform="translate(79.000000, 39.000000)">
                                    <path d="M36.2830963 89.9858866C33.866351 89.9858866 31.9129555 88.5961555 31.9129555 86.8767771L31.9129555 3.66548304C31.9129555 1.94927431 33.866351 0.556373528 36.2830963 0.556373528 38.6998416 0.556373528 40.6532371 1.94927431 40.6532371 3.66548304L40.6532371 86.8767771C40.6532371 88.5961555 38.6998416 89.9858866 36.2830963 89.9858866"
                                          id="stem" fill="#4CAF50"
                                          transform="translate(36.283096, 45.271130) rotate(360.000000) translate(-36.283096, -45.271130) "/>
                                    <path d="M36.2830963 34.0669954C36.2830963 20.3190118 51.9186759 9.19517588 71.2427374 9.19517588 71.2427374 22.9431594 55.6071578 34.0669954 36.2830963 34.0669954"
                                          id="leafR" fill="#81C784"/>
                                    <path d="M36.2830963 71.3745486C36.2830963 57.626565 51.9186759 46.5027291 71.2427374 46.5027291 71.2427374 60.2507126 55.6071578 71.3745486 36.2830963 71.3745486"
                                          id="leafR" fill="#81C784"/>
                                    <path d="M1.32345524 27.8491286C20.6475168 27.8491286 36.2830963 38.9729645 36.2830963 52.7209481 16.9590348 52.7209481 1.32345524 41.5971121 1.32345524 27.8491286"
                                          id="leafL" fill="#81C784"
                                          transform="translate(18.803276, 40.285038) rotate(365.000000) translate(-18.803276, -40.285038) "/>
                                </g>
                                <g id="plant1">
                                    <path d="M36.6240277 128.985887C34.2072824 128.985887 32.2538869 126.994817 32.2538869 124.531461L32.2538869 5.3145084C32.2538869 2.85569345 34.2072824 0.860082305 36.6240277 0.860082305 39.0407729 0.860082305 40.9941684 2.85569345 40.9941684 5.3145084L40.9941684 124.531461C40.9941684 126.994817 39.0407729 128.985887 36.6240277 128.985887"
                                          id="stem" fill="#4CAF50"
                                          transform="translate(36.624028, 64.922984) rotate(360.000000) translate(-36.624028, -64.922984) "/>
                                    <path d="M36.6240277 73.0669954C36.6240277 59.3190118 52.2596072 48.1951759 71.5836687 48.1951759 71.5836687 61.9431594 55.9480892 73.0669954 36.6240277 73.0669954"
                                          id="leafR" fill="#81C784"/>
                                    <path d="M36.6240277 110.374549C36.6240277 96.626565 52.2596072 85.5027291 71.5836687 85.5027291 71.5836687 99.2507126 55.9480892 110.374549 36.6240277 110.374549"
                                          id="leafR" fill="#81C784"/>
                                    <path d="M1.66488161 66.8491286C20.9889431 66.8491286 36.6245227 77.9729645 36.6245227 91.7209481 17.3004612 91.7209481 1.66488161 80.5971121 1.66488161 66.8491286"
                                          id="leafL" fill="#81C784"
                                          transform="translate(19.144702, 79.285038) rotate(365.000000) translate(-19.144702, -79.285038) "/>
                                    <path d="M72.015052 11.3574782C72.015052 25.1054617 56.3794724 36.2292977 37.0554109 36.2292977 37.0554109 22.4813142 52.6909904 11.3574782 72.015052 11.3574782Z"
                                          id="leafR" fill="#81C784"/>
                                    <path d="M1.42578125 30.1620049C20.7498428 30.1620049 36.3854223 41.2858409 36.3854223 55.0338245 17.0613608 55.0338245 1.42578125 43.9099885 1.42578125 30.1620049"
                                          id="leafL" fill="#81C784"
                                          transform="translate(18.905602, 42.597915) scale(-1, -1) rotate(365.000000) translate(-18.905602, -42.597915) "/>
                                </g>
                            </g>
                            <g id="thermometer" transform="translate(264.000000, 172.000000)">
                                <path d="M61.1436529 31.8013579L48.9472897 31.8013579C47.2611925 31.8013579 45.8981175 32.8973078 45.8981175 34.2477167 45.8981175 35.6004768 47.2611925 36.6940754 48.9472897 36.6940754L61.1436529 36.6940754C62.8297501 36.6940754 64.1928252 35.6004768 64.1928252 34.2477167 64.1924995 32.8999203 62.8300757 31.8013579 61.1436529 31.8013579L61.1436529 31.8013579Z"
                                      id="Path" fill="#FFFFFF"/>
                                <path d="M61.1436529 22.0164453L48.9472897 22.0164453C47.2611925 22.0164453 45.8981175 23.1123952 45.8981175 24.462804 45.8981175 25.8155642 47.2611925 26.9091628 48.9472897 26.9091628L61.1436529 26.9091628C62.8297501 26.9091628 64.1928252 25.8155642 64.1928252 24.462804 64.1924995 23.1147465 62.8300757 22.0164453 61.1436529 22.0164453L61.1436529 22.0164453Z"
                                      id="Path" fill="#FFFFFF"/>
                                <path d="M48.9472897 17.1237277L61.1436529 17.1237277C62.8297501 17.1237277 64.1928252 16.030129 64.1928252 14.6773689 64.1928252 13.3246088 62.8297501 12.2310101 61.1436529 12.2310101L48.9472897 12.2310101C47.2611925 12.2310101 45.8981175 13.3246088 45.8981175 14.6773689 45.8981175 16.030129 47.2611925 17.1237277 48.9472897 17.1237277L48.9472897 17.1237277Z"
                                      id="Path" fill="#FFFFFF"/>
                                <path d="M39.8004243 12.2312714C39.8004243 5.4771371 32.976257 0 24.5548888 0 16.1335206 0 9.30967896 5.4771371 9.30967896 12.2312714L9.30967896 43.4479485C3.73917606 47.0344087 0.162487926 52.5334909 0.162487926 58.7102595 0.162487926 69.5179716 11.0843467 78.280346 24.5548888 78.280346 38.0254309 78.280346 48.9472897 69.5177103 48.9472897 58.7102595 48.9472897 52.5358422 45.3712528 47.0344087 39.8004243 43.4482097L39.8004243 12.2312714Z"
                                      id="Shape" fill="#546A79"/>
                                <path d="M33.7020798 46.0142217L33.7020798 12.2312714C33.7020798 8.17769356 29.6040627 4.89245631 24.5548888 4.89245631 19.5057149 4.89245631 15.4076978 8.17795482 15.4076978 12.2312714L15.4076978 46.0142217C9.94693121 48.5533248 6.26050674 53.2819764 6.26050674 58.7102595 6.26050674 66.8148026 14.4532847 73.3878896 24.5548888 73.3878896 34.6564929 73.3878896 42.8492709 66.8148026 42.8492709 58.7102595 42.8492709 53.2819764 39.1661027 48.5533248 33.7020798 46.0142217L33.7020798 46.0142217Z"
                                      id="Path" fill="#FFFFFF"/>
                                <path d="M10.8342651 58.7105207C10.8342651 54.8063787 13.4656577 51.1564344 17.7007639 49.1871208L19.9814561 48.1280074 19.9814561 12.2312714C19.9814561 10.20814 22.0335581 8.56199448 24.5548888 8.56199448 27.0762195 8.56199448 29.1283215 10.2084013 29.1283215 12.2312714L29.1283215 48.1277461 31.4090138 49.1894721C35.6441199 51.1587857 38.2755125 54.8061175 38.2755125 58.712872 38.2755125 64.7820049 32.1195321 69.7186127 24.5548888 69.7186127 16.9902455 69.7186127 10.8342651 64.7796537 10.8342651 58.7105207Z"
                                      id="Path" fill="#ED7161"/>
                            </g>
                            <g id="wind" transform="translate(142.000000, 158.000000)" stroke-width="3">
                                <path d="M2.92968883 45.2678017L22.4626681 45.2678017C26.2309934 45.2678017 29.2966365 48.229458 29.2966365 51.8699538 29.2966365 54.4698217 27.1070173 56.5847521 24.4156261 56.5847521 22.5857822 56.5847521 21.0970829 55.1465946 21.0970829 53.3784996 21.0970829 51.8159773 19.7853758 50.5492316 18.167394 50.5492316 16.5494122 50.5492316 15.2377052 51.8159773 15.2377052 53.3784996 15.2377052 58.2665333 19.354854 62.2432881 24.4155002 62.2432881 30.3376938 62.2432881 35.1557624 57.5900036 35.1557624 51.8699538 35.1557624 45.1093977 29.4616699 39.6093873 22.4625422 39.6093873L2.92968883 39.6093873C1.31170702 39.6092657 0 40.8760114 0 42.4385337 0 44.001056 1.31170702 45.2678017 2.92968883 45.2678017L2.92968883 45.2678017Z"
                                      id="Shape" stroke="#FFFFFF" fill="#FFFFFF"/>
                                <path d="M2.92968883 32.0647131L46.3319594 32.0647131C56.3235918 32.0647131 64.4523989 24.2142938 64.4523989 14.564901 64.4523989 6.53383053 57.6864076 0 49.3701599 0 42.3936912 0 36.7181036 5.48092415 36.7181036 12.2177744 36.7181036 17.9194673 41.5211921 22.5582851 47.4250066 22.5582851 49.0429884 22.5582851 50.3546954 21.2915394 50.3546954 19.7290171 50.3546954 18.1664948 49.0429884 16.8997491 47.4250066 16.8997491 44.7519944 16.8997491 42.5773554 14.7992854 42.5773554 12.2177744 42.5773554 8.60086287 45.6246195 5.658536 49.370034 5.658536 54.4554793 5.658536 58.5930212 9.65401239 58.5930212 14.5650225 58.5930212 21.094355 53.0926636 26.4062987 46.3318335 26.4062987L2.92968883 26.4062987C1.31170702 26.4061771 0 27.6729228 0 29.2354451 0 30.7979674 1.31170702 32.0647131 2.92968883 32.0647131L2.92968883 32.0647131Z"
                                      id="Shape" stroke="#AFDAF9" fill="#AFDAF9"/>
                            </g>
                            <g id="water" transform="translate(376.000000, 249.000000)">
                                <path d="M24.2747515 49.9007467C18.6938583 49.9007467 13.6490053 47.522317 9.97965405 44.4688027 6.31232555 41.4136041 4.04679443 37.2114429 4.04679443 32.5663284 4.07713636 29.4016547 4.36841894 27.8622657 6.22332254 25.0260175 8.10452249 22.1998746 11.7111671 18.233506 18.1375889 11.2119388 20.3768237 8.76474829 21.329561 7.88689121 24.2747515 4.62958467 27.2179191 7.88689121 28.1706553 8.76306406 30.4119128 11.2119388 36.8383346 18.233506 40.4449792 22.1998746 42.3261792 25.0260175 44.1810828 27.8622657 44.4723653 29.4016547 44.5027073 32.5663284 44.5027073 37.2114429 42.2371762 41.4136041 38.5698477 44.4688027 34.9004964 47.522317 29.8556446 49.9007467 24.2747515 49.9007467L24.2747509 51.0928909 24.2747509 52.7771238C37.665658 52.7737554 48.544253 43.7142663 48.5482986 32.5663284 48.5786405 29.2180733 48.0446224 26.5974068 45.8600032 23.388943 43.7016802 20.1703739 40.0566025 16.2056895 33.6281579 9.17064843 31.3869003 6.72345795 28.8240183 3.92089432 25.8889418 0.672008948 25.5086562 0.249266477 24.9099087 0 24.2747509 0 23.639593 0 23.0408455 0.249266477 22.6585371 0.672008948 19.7234607 3.92089432 17.1605786 6.72345795 14.9213438 9.17064843 8.49289925 16.2056895 4.8478215 20.1703739 2.68949855 23.388943 0.504879258 26.5974068-0.0291387914 29.2180733 0.00120314322 32.5663284 0.00524873451 43.7142663 10.8838437 52.7737554 24.2747509 52.7771238L24.2747509 51.0928909 24.2747515 49.9007467Z"
                                      id="Shape" stroke="#AFDAF9" stroke-width="3" fill="#AFDAF9"/>
                                <path d="M36.370877 31.934741C36.370877 34.7238308 35.0135812 37.2400748 32.8107567 39.0758888 30.6059095 40.9100184 27.5838528 42.0401388 24.2341032 42.0401388 23.11752 42.0401388 22.2113076 42.7946751 22.2113076 43.7243717 22.2113076 44.6540683 23.11752 45.4086047 24.2341032 45.4086047 33.1627232 45.4052362 40.4124227 39.3689453 40.4164683 31.934741 40.4164683 31.0050444 39.5102559 30.2505081 38.3936727 30.2505081 37.2770895 30.2505081 36.370877 31.0050444 36.370877 31.934741L36.370877 31.934741 36.370877 31.934741Z"
                                      id="Shape" fill="#4C5870"/>
                            </g>
                            <g id="calendar" transform="translate(21.000000, 143.000000)">
                                <polygon id="Shape" fill="#ED7161"
                                         points="46 4 46 8 39 8 39 4 15 4 15 8 8 8 8 4 0 4 0 15 54 15 54 4"/>
                                <polygon id="Shape" fill="#EDEADA"
                                         points="8 15 0 15 0 58 54 58 54 15 46 15 39 15 15 15"/>
                                <path d="M37 22L35 22 28 22 26 22 19 22 17 22 8 22 8 31 8 33 8 40 8 42 8 51 17 51 19 51 26 51 28 51 35 51 37 51 46 51 46 42 46 40 46 33 46 31 46 22 37 22 37 22ZM28 24L35 24 35 31 28 31 28 24 28 24ZM35 40L28 40 28 33 35 33 35 40 35 40ZM19 33L26 33 26 40 19 40 19 33 19 33ZM19 24L26 24 26 31 19 31 19 24 19 24ZM10 24L17 24 17 31 10 31 10 24 10 24ZM10 33L17 33 17 40 10 40 10 33 10 33ZM17 49L10 49 10 42 17 42 17 49 17 49ZM26 49L19 49 19 42 26 42 26 49 26 49ZM35 49L28 49 28 42 35 42 35 49 35 49ZM44 49L37 49 37 42 44 42 44 49 44 49ZM44 40L37 40 37 33 44 33 44 40 44 40ZM37 31L37 24 44 24 44 31 37 31 37 31Z"
                                      id="Shape" fill="#CEC9AE"/>
                                <rect id="Rectangle-path" fill="#28384C" x="8" y="0" width="7" height="8"/>
                                <rect id="Rectangle-path" fill="#28384C" x="39" y="0" width="7" height="8"/>
                                <rect id="Rectangle-path" fill="#26B99A" x="28" y="33" width="7" height="7"/>
                            </g>
                            <g id="CO2" transform="translate(277.000000, 302.000000)" fill="#FFFFFF">
                                <path d="M13.2250406 5.06097688C15.8462198 5.06097688 17.990821 6.06204923 19.6588441 8.06419392L23.1140349 4.50482557C20.3737112 1.61283878 17.0376649 0.166845392 12.9867516 0.166845392 9.41241627 0.166845392 6.31465902 1.279148 3.81262431 3.61498348 1.31058961 5.8395887 0.11914451 8.73157549 0.11914451 12.0684833 0.11914451 15.5166214 1.31058961 18.2973779 3.81262431 20.5219832 6.31465902 22.7465884 9.41241627 23.858891 13.1058961 23.858891 16.7993759 23.858891 20.1354221 22.4128976 22.9948904 19.5209108L19.5396996 16.184003C17.8716765 18.1861477 15.6079308 19.18722 12.9867516 19.18722 11.0804394 19.18722 9.29327176 18.5198385 7.98268215 17.2963056 6.55294803 15.9615425 5.95722549 14.2930885 5.95722549 12.1797136 5.95722549 10.0663386 6.67209254 8.39788471 8.10182666 7.06312157 9.41241627 5.61712818 11.1995839 5.06097688 13.2250406 5.06097688L13.2250406 5.06097688Z"
                                      id="Shape"/>
                                <path d="M38.2453876 0.166845392C34.6710523 0.166845392 31.5732951 1.279148 29.0712604 3.50375322 26.5692257 5.72835844 25.3777806 8.62034523 25.3777806 11.9572531 25.3777806 15.2941609 26.5692257 18.1861477 29.0712604 20.4107529 31.5732951 22.6353581 34.5519078 23.7476607 38.2453876 23.7476607 41.9388674 23.7476607 44.9174802 22.6353581 47.4195149 20.4107529 49.9215496 18.1861477 51.1129947 15.2941609 51.1129947 11.9572531 51.1129947 8.62034523 49.9215496 5.72835844 47.4195149 3.50375322 44.9174802 1.279148 41.9388674 0.166845392 38.2453876 0.166845392L38.2453876 0.166845392ZM43.487746 17.1850753C42.0580119 18.6310687 40.3899888 19.2984503 38.3645321 19.2984503 36.3390755 19.2984503 34.5519078 18.6310687 33.2413182 17.1850753 31.8115841 15.7390819 31.096717 14.070628 31.096717 11.9572531 31.096717 9.95510836 31.8115841 8.17542418 33.2413182 6.72943079 34.6710523 5.2834374 36.3390755 4.61605583 38.3645321 4.61605583 40.3899888 4.61605583 42.1771564 5.2834374 43.487746 6.72943079 44.9174802 8.17542418 45.6323472 9.95510836 45.6323472 11.9572531 45.6323472 14.070628 44.9174802 15.7390819 43.487746 17.1850753L43.487746 17.1850753Z"
                                      id="Shape"/>
                                <path d="M58.9765323 24.9711936L61.8360005 22.1904371C63.0274456 21.0781345 63.7423127 20.1882924 64.2188907 19.4096805 64.6954688 18.742299 64.8146133 17.9636872 64.8146133 17.1850753 64.8146133 15.7390819 64.3380352 14.6267793 63.2657347 13.8481675 62.1934341 13.0695557 61.001989 12.6246346 59.5722549 12.6246346 58.1425207 12.6246346 57.0702202 12.9583254 56.1170641 13.5144767 55.163908 14.070628 54.3298964 14.9604701 53.6150294 15.9615425L56.4744976 17.5187661C57.4276537 16.184003 58.3808098 15.5166214 59.3339658 15.5166214 59.9296884 15.5166214 60.2871219 15.7390819 60.6445554 16.0727727 61.001989 16.4064635 61.1211335 16.8513845 61.1211335 17.2963056 61.1211335 17.8524569 60.8828445 18.2973779 60.5254109 18.8535292 60.1679774 19.4096805 59.4531103 20.0770621 58.4999543 21.0781345L53.7341739 25.6385752 53.7341739 28.1968712 65.1720468 28.1968712 65.1720468 25.1936541 58.9765323 25.1936541 58.9765323 24.9711936 58.9765323 24.9711936Z"
                                      id="Shape"/>
                            </g>
                            <g id="css3" transform="translate(400.000000, 81.912570)">
                                <polygon id="Shape" fill="#4990E2"
                                         points="0.0291403651 0 80.4188717 0 72.3799574 68.3436817 42.9037422 75.4139142 37.5445642 75.4139142 8.06805463 68.3436817"/>
                                <path d="M40.224006 7.06790252L69.7002212 7.06790252 64.3410432 61.2734493 40.2243004 68.3436817C40.224006 68.3436817 40.224006 7.06790252 40.224006 7.06790252L40.224006 7.06790252Z"
                                      id="Shape" fill="#88C5FC"/>
                                <path d="M42.7402102 30.2197564C42.4649893 30.3189369 42.3080777 30.5756116 42.3652664 30.8322864 42.4228126 31.0889612 42.6787323 31.2741191 42.9762925 31.2741191L58.0067489 31.2741191C58.8063192 31.2741191 59.568002 31.5727608 60.1027169 32.0956983 60.637253 32.6186358 60.894245 33.3166717 60.8093554 34.0158078L58.4608634 53.3918441C58.3455923 54.3424681 57.6192951 55.1500584 56.5938292 55.4674046L40.6401318 60.4044248C40.0392924 60.5905258 39.3843024 60.5919404 38.7820333 60.4083543L22.9028601 55.5706717C21.8711392 55.256312 21.1387656 54.446364 21.0227797 53.4914962L19.9581752 44.7164574C19.9022375 44.2557632 20.0714804 43.7958548 20.4235487 43.4514737 20.7757957 43.1069354 21.2776271 42.9101462 21.8044785 42.9101462L26.2232036 42.9101462C27.1727156 42.9101462 27.9690691 43.539966 28.0695068 44.3701901L28.7227097 49.7639752 39.717427 53.1252671 50.7625418 49.7333251 52.1134475 38.5468325 20.8842757 38.5468325C19.937623 38.5468325 19.1425206 37.9204706 19.0386872 37.0929185L18.4441029 32.3517444C18.3533157 31.6285597 18.8172595 30.9399546 19.5818017 30.6628465L39.5687362 23.415439C39.7955253 23.333234 39.9243788 23.121827 39.8768406 22.9102629 39.8291237 22.6988559 39.6184189 22.5465486 39.3734008 22.5465486L18.3299041 22.5465486C17.6963599 22.5465486 17.1650406 22.1257781 17.0989161 21.5718761L16.4902133 16.475947C16.4535767 16.169289 16.5667032 15.8632598 16.8013558 15.6339343 17.0360085 15.4047661 17.370384 15.2738352 17.7210225 15.2738352L61.7526125 15.2738352C62.1052169 15.2738352 62.4410222 15.4061807 62.6758535 15.6373923 62.9106848 15.8687611 63.0222029 16.177148 62.9823495 16.4852206L62.1093274 23.2489855C62.0785884 23.2689474 42.7402102 30.2197564 42.7402102 30.2197564Z"
                                      id="Path" fill="#E5E5E5"/>
                                <path d="M40.3256898 60.5025556C40.3256715 58.306548 40.3256557 55.7507993 40.3256419 52.9696697L50.864088 49.7333251 52.2149937 38.5468325 40.3255911 38.5468325C40.3255697 29.9841569 40.3255601 21.3338224 40.3255558 15.2738086L61.8541587 15.2738352C62.2067631 15.2738352 62.5425684 15.4061807 62.7773997 15.6373923 63.012231 15.8687611 63.1237491 16.177148 63.0838957 16.4852206L62.2108736 23.2489855C62.1801346 23.2689474 42.8417564 30.2197564 42.8417564 30.2197564 42.5665355 30.3189369 42.4096238 30.5756116 42.4668126 30.8322864 42.5243588 31.0889612 42.7802785 31.2741191 43.0778387 31.2741191L58.1082951 31.2741191C58.9078654 31.2741191 59.6695482 31.5727608 60.2042631 32.0956983 60.7387992 32.6186358 60.9957912 33.3166717 60.9109016 34.0158078L58.5624096 53.3918441C58.4471385 54.3424681 57.7208413 55.1500584 56.6953754 55.4674046L40.741678 60.4044248C40.6053858 60.4466393 40.4663073 60.4793508 40.3256898 60.5025556Z"
                                      id="Combined-Shape" fill="#FFFFFF"/>
                            </g>
                            <g id="js" transform="translate(358.000000, 0.912570)">
                                <polygon id="Shape" fill="#D6BA32"
                                         points="0.0291403651 0 80.4188717 0 72.3799574 68.6475843 42.9037422 75.7492558 37.5445642 75.7492558 8.06805463 68.6475843"/>
                                <path d="M69.7002212 7.09933124L64.3410432 61.5459128 40.2243004 68.6475843C40.224006 68.6475843 40.224006 7.09933124 40.224006 7.09933124L69.7002212 7.09933124Z"
                                      id="Shape" fill="#FFDA3E"/>
                                <polygon id="S" fill="#FFFFFF"
                                         points="43.5633741 16.9019314 66.2281026 16.9019314 66.2281026 24.3339184 50.6865745 24.3339184 50.6865745 35.1960532 64.9329752 34.6243619 63.6378479 54.0618664 44.2109378 59.2070881 44.2109378 51.7751011 57.8097749 48.9166446 57.8097749 42.0563489 43.5633741 44.3431141"/>
                                <polygon id="Line" fill="#D8D8D8"
                                         points="28.0825552 16.3818719 28.0825552 49.5878433 12.6569263 46.3837583 12.6569263 53.95705 35.6160018 59.2000981 35.6160018 39.101747 35.6160018 16.3818719"/>
                            </g>
                            <g id="html5" transform="translate(316.000000, 81.912570)">
                                <polygon id="Shape" fill="#ED7161"
                                         points="80.4188717 0 72.3799574 68.7102762 42.9037422 75.8184332 37.5445642 75.8184332 8.06805463 68.7102762 0.0291403651 0"/>
                                <path d="M40.224006 7.10581464L69.7002212 7.10581464 64.3410432 61.6021191 40.2243004 68.7102762C40.224006 68.7102762 40.224006 7.10581464 40.224006 7.10581464L40.224006 7.10581464Z"
                                      id="Shape" fill="#F9A18A"/>
                                <polygon id="Shape" fill="#FFFFFF"
                                         points="61.7095799 21.2914172 62.5534731 14.2139717 16.0213139 14.2139717 16.9591038 21.2914172 17.8168313 30.8164153 17.8059405 30.8164153 18.6180442 37.9055729 49.8117749 37.9055729 48.740057 49.183991 40.224006 51.5628331 40.224006 51.4894377 28.8998835 48.8427807 28.205813 42.6278607 18.749323 42.6278607 20.0194308 54.0436999 20.0194308 54.5103589 40.224006 59.2326467 57.1675094 54.5103589 57.3738468 54.5103589 57.379145 54.4463332 57.4165271 54.4416484 57.4165271 54.0673842 58.9494869 37.9055729 58.9842199 37.9055729 59.7989727 30.8164153 27.6509687 30.8164153 26.7935355 21.2914172"/>
                                <polygon id="Shape" fill="#E5E5E5"
                                         points="40.224006 14.2139717 16.0213139 14.2139717 16.9591038 21.2914172 17.8168313 30.8164153 17.8059405 30.8164153 18.6180442 37.9055729 40.224006 37.9055729 40.224006 30.8164153 27.6509687 30.8164153 26.7935355 21.2914172 40.224006 21.2914172"/>
                                <polygon id="Shape" fill="#E5E5E5"
                                         points="40.224006 51.4894377 28.8998835 48.8427807 28.205813 42.6278607 18.749323 42.6278607 20.0194308 54.0436999 20.0194308 54.5103589 40.224006 59.2326467 40.224006 51.5628331"/>
                            </g>
                            <g id="idea"
                               transform="translate(241.500000, 80.088235) scale(1, -1) translate(-241.500000, -80.088235) translate(209.000000, 45.588235)">
                                <g id="Group1" fill="#777">
                                    <path d="M32.5 0C31.7951961 0 31.2254902 0.578470588 31.2254902 1.29411765L31.2254902 6.47058824C31.2254902 7.18623529 31.7951961 7.76470588 32.5 7.76470588 33.2048039 7.76470588 33.7745098 7.18623529 33.7745098 6.47058824L33.7745098 1.29411765C33.7745098 0.578470588 33.2048039 0 32.5 0L32.5 0Z"
                                          id="Shape"/>
                                    <path d="M63.0882353 31.0588235L57.9901961 31.0588235C57.2853922 31.0588235 56.7156863 31.6372941 56.7156863 32.3529412 56.7156863 33.0685882 57.2853922 33.6470588 57.9901961 33.6470588L63.0882353 33.6470588C63.7930392 33.6470588 64.3627451 33.0685882 64.3627451 32.3529412 64.3627451 31.6372941 63.7930392 31.0588235 63.0882353 31.0588235L63.0882353 31.0588235Z"
                                          id="Shape"/>
                                    <path d="M7.00980392 31.0588235L1.91176471 31.0588235C1.20696078 31.0588235 0.637254902 31.6372941 0.637254902 32.3529412 0.637254902 33.0685882 1.20696078 33.6470588 1.91176471 33.6470588L7.00980392 33.6470588C7.71460784 33.6470588 8.28431373 33.0685882 8.28431373 32.3529412 8.28431373 31.6372941 7.71460784 31.0588235 7.00980392 31.0588235L7.00980392 31.0588235Z"
                                          id="Shape"/>
                                    <path d="M53.2286275 9.47552941L49.6243137 13.1352941C49.1259804 13.6412941 49.1259804 14.4591765 49.6243137 14.9651765 49.8728431 15.2175294 50.1991176 15.3443529 50.5253922 15.3443529 50.8516667 15.3443529 51.1779412 15.2175294 51.4264706 14.9651765L55.0307843 11.3054118C55.5291176 10.7994118 55.5291176 9.98152941 55.0307843 9.47552941 54.532451 8.96952941 53.7256863 8.97082353 53.2286275 9.47552941L53.2286275 9.47552941Z"
                                          id="Shape"/>
                                    <path d="M13.5735294 49.7407059L9.96921569 53.4004706C9.47088235 53.9064706 9.47088235 54.7243529 9.96921569 55.2303529 10.2177451 55.4827059 10.5440196 55.6095294 10.8702941 55.6095294 11.1965686 55.6095294 11.5228431 55.4827059 11.7713725 55.2303529L15.3756863 51.5705882C15.8740196 51.0645882 15.8740196 50.2467059 15.3756863 49.7407059 14.8773529 49.2347059 14.0718627 49.2347059 13.5735294 49.7407059L13.5735294 49.7407059Z"
                                          id="Shape"/>
                                    <path d="M51.4264706 49.7407059C50.9281373 49.2347059 50.1226471 49.2347059 49.6243137 49.7407059 49.1259804 50.2467059 49.1259804 51.0645882 49.6243137 51.5705882L53.2286275 55.2303529C53.4771569 55.4827059 53.8034314 55.6095294 54.1297059 55.6095294 54.4559804 55.6095294 54.7822549 55.4827059 55.0307843 55.2303529 55.5291176 54.7243529 55.5291176 53.9064706 55.0307843 53.4004706L51.4264706 49.7407059 51.4264706 49.7407059Z"
                                          id="Shape"/>
                                    <path d="M11.7713725 9.47552941C11.2730392 8.96952941 10.467549 8.96952941 9.96921569 9.47552941 9.47088235 9.98152941 9.47088235 10.7994118 9.96921569 11.3054118L13.5735294 14.9651765C13.8220588 15.2175294 14.1483333 15.3443529 14.4746078 15.3443529 14.8008824 15.3443529 15.1271569 15.2175294 15.3756863 14.9651765 15.8740196 14.4591765 15.8740196 13.6412941 15.3756863 13.1352941L11.7713725 9.47552941 11.7713725 9.47552941Z"
                                          id="Shape"/>
                                </g>
                                <path d="M32.5 11.6470588C21.2371569 11.6470588 12.1078431 20.9181176 12.1078431 32.3529412 12.1078431 41.5269412 17.9897059 49.2942353 26.127451 52.0131765L26.127451 64.7058824 28.6764706 64.7058824 28.6764706 68.5882353 36.3235294 68.5882353 36.3235294 64.7058824 38.872549 64.7058824 38.872549 52.0131765C47.0102941 49.2942353 52.8921569 41.5269412 52.8921569 32.3529412 52.8921569 20.9181176 43.7628431 11.6470588 32.5 11.6470588L32.5 11.6470588Z"
                                      id="Shape" fill="#EFCE4A"/>
                                <path d="M18.4803922 33.6470588C17.7755882 33.6470588 17.2058824 33.0685882 17.2058824 32.3529412 17.2058824 23.7897647 24.0665686 16.8235294 32.5 16.8235294 33.2048039 16.8235294 33.7745098 17.402 33.7745098 18.1176471 33.7745098 18.8332941 33.2048039 19.4117647 32.5 19.4117647 25.4723529 19.4117647 19.754902 25.2171765 19.754902 32.3529412 19.754902 33.0685882 19.1851961 33.6470588 18.4803922 33.6470588L18.4803922 33.6470588Z"
                                      id="Shape" fill="#F7E6A1"/>
                                <polygon id="Shape" fill="#556080"
                                         points="26.127451 55.6470588 26.127451 64.7058824 28.6764706 64.7058824 28.6764706 68.5882353 36.3235294 68.5882353 36.3235294 64.7058824 38.872549 64.7058824 38.872549 55.6470588"/>
                            </g>
                            <g id="sensor" transform="translate(358.000000, 311.000000)">
                                <g id="waves" transform="translate(70.205078, 0.946903)" fill="#FFFFFF">
                                    <path d="M8.01955273 20.6729204L5.07147266 20.6729204C5.07147266 17.9748673 2.86721094 15.779823 0.157828125 15.779823L0.157828125 12.8440708C4.49276953 12.8440708 8.01955273 16.3561062 8.01955273 20.6729204L8.01955273 20.6729204Z"
                                          id="wave1"/>
                                    <path d="M14.4071484 20.6729204L11.4590684 20.6729204C11.4590684 14.4674336 6.38937305 9.41893805 0.157828125 9.41893805L0.157828125 6.48318584C8.01493164 6.48300885 14.4071484 12.8484956 14.4071484 20.6729204L14.4071484 20.6729204Z"
                                          id="wave2"/>
                                    <path d="M20.7949219 20.6729204L17.8468418 20.6729204C17.8468418 10.96 9.91153516 3.05787611 0.157828125 3.05787611L0.157828125 0.122123894C11.5372715 0.122123894 20.7949219 9.34123894 20.7949219 20.6729204L20.7949219 20.6729204Z"
                                          id="wave3"/>
                                </g>
                                <path d="M88.1500293 38.9412389L1.47412891 38.9412389C0.660105469 38.9412389 0 38.2840708 0 37.4732743 0 36.6624779 0.659927734 36.0053097 1.47412891 36.0053097L88.150207 36.0053097C88.9644082 36.0053097 89.6243359 36.6624779 89.6243359 37.4732743 89.6243359 38.2840708 88.9644082 38.9412389 88.1500293 38.9412389L88.1500293 38.9412389Z"
                                      id="Shape" fill="#666666"/>
                                <path d="M72.6898047 28.0787611L16.9345312 28.0787611C15.3670918 28.0787611 13.9292207 28.9444248 13.2008652 30.3265487L9.43414062 37.4732743 80.1900176 37.4732743 76.4234707 30.3265487C75.695293 28.9444248 74.2572441 28.0787611 72.6898047 28.0787611L72.6898047 28.0787611Z"
                                      id="Shape" fill="#CCCCCC"/>
                                <path d="M13.2006875 30.3263717L9.43414062 37.4732743 20.4406973 37.4732743 25.3918437 28.0785841 16.9345312 28.0785841C15.3672695 28.0787611 13.929043 28.9444248 13.2006875 30.3263717L13.2006875 30.3263717Z"
                                      id="Shape" fill="#B3B3B3"/>
                                <path d="M67.9330996 22.5984071L21.6912363 22.5984071C20.0237324 22.5984071 18.6718848 23.9446018 18.6718848 25.6051327L18.6718848 29.460708 70.9526289 29.460708 70.9526289 25.6051327C70.9524512 23.9444248 69.6006035 22.5984071 67.9330996 22.5984071L67.9330996 22.5984071Z"
                                      id="Shape" fill="#F2F2F2"/>
                                <path d="M28.531166 22.5984071L21.6912363 22.5984071C20.0237324 22.5984071 18.6718848 23.9446018 18.6718848 25.6051327L18.6718848 29.1670796 28.531166 29.1670796 28.531166 22.5984071 28.531166 22.5984071Z"
                                      id="Shape" fill="#E6E6E6"/>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="col-xs-12 col-md-6 editContent text-xs-center">
                <div>
                    <h1 class="title text-xs-center">OPEN API</h1>
                    <hr>
                    <h4 class="subtitle">整合溝通跨域據據，建立共通系統機制</h4>
                    <h4 class="subtitle">提供易用介接資料，增進資料價值、利用性和透明化</h4>
                    <h4 class="subtitle">促成跨產業協同合作與服務創新</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid intro bg-offwhite">
        <div class="row">
            <div class="col-xs-12 col-md-6 editContent text-xs-center">
                <div>
                    <h1 class="title text-xs-center">加值應用</h1>
                    <hr>
                    <h4 class="subtitle">挖掘有效訊息，做出及時決策</h4>
                    <h4 class="subtitle">即時監控數據，預測未來趨勢</h4>
                    <h4 class="subtitle">發揮無限創意，加速產業升級</h4>
                </div>
            </div>
            <div class="hidden-sm-down col-md-6">
                <img class="wow fadeInRight img-fluid" src="images/valueadded2.svg"/>
            </div>
        </div>
    </div>

    <div class="container-fluid intro bg-tan">
        <div class="row">
            <div class="hidden-sm-down col-md-6">
                <img class="img-fluid pull-right" src="images/dashboard.svg"/>
            </div>
            <div class="col-xs-12 col-md-6 editContent text-xs-center">
                <div>
                    <h1 class="title text-xs-center">資料視覺化</h1>
                    <hr>
                    <h4 class="subtitle">善用平台資料，強化數據可閱讀性</h4>
                    <h4 class="subtitle">提升農業品質，滿足產業需求</h4>
                    <h4 class="subtitle">藉由案例分析，進行業務流程管理</h4>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid bg-aqua">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h2 class="subtitle text-inverse">立即使用！</h2>
                <h5 class="text-inverse">取得APIs，發掘與創造更多應用</h5>

                <a href="#" class="btn btn-primary btn-hg btn-wide">
                    &nbsp;前往開發者專區</a>
            </div>

        </div>
    </div>
</section>

<section id="team" class="wrapper bg-offwhite team">
    <div class="container">
        <div class="row">
            <h1 class="title text-xs-center">關於我們</h1>
            <p>農業生產力 4.0 共通平台匯集相關農業大數據資料，其目的是透過共通平台之 Open API 機制，讓第三方資訊開發業者授權使用，開發資訊業者僅需了解 OPEN API
                如何取用，則可以快速開發其欲開發之功能，無須花時間建立後端資料庫與相關資料之取的，以期延伸出更多的農業創新應用。
            </p>
            <div class="col-xs-4 text-center editContent">
                <div class="card">
                    <img class="img-fluid" src="images/icons/logo01.png"/>
                    <h5 class="text-xs-center">行政院農業委員會農糧署</h5>
                    <div class="social text-xs-center">
                        <a class="tw" href="www.afa.gov.tw/"><i class="fa fa-globe tw" aria-hidden="true"></i></a>
                        <a class="fb" href="https://zh-tw.facebook.com/public/農糧署"><i class="fa fa-facebook fb"
                                                                                      aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 text-center editContent">
                <div class="card">
                    <img class="img-fluid" src="images/icons/logo02.png"/>
                    <h5 class="text-xs-center">行政院農業委員會農業試驗所</h5>
                    <div class="social text-xs-center">
                        <a class="tw" href="www.tari.gov.tw/"><i class="fa fa-globe tw" aria-hidden="true"></i></a>
                        <a class="fb" href="https://zh-tw.facebook.com"><i class="fa fa-facebook fb"
                                                                           aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 text-center editContent">
                <div class="card">
                    <img class="img-fluid" src="images/icons/logo03.png"/>
                    <h5 class="text-xs-center">財團法人資訊工業策進會</h5>
                    <div class="social text-xs-center">
                        <a class="tw" href="www.iii.org.tw/"><i class="fa fa-globe tw" aria-hidden="true"></i></a>
                        <a class="fb" href="https://zh-tw.facebook.com/weloveIII/"><i class="fa fa-facebook fb"
                                                                                      aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="wrapper contact bg-offwhite">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 editContent">
                <h4 class="text-xs-center">問題反饋與合作提案</h4>
                <hr>
                <p>若有任何合作提案或服務建議，請留下您的聯絡方式及相關資訊，我們會有專人與您聯繫！</p>
            </div>
            <div class="col-xs-6 editContent">
                <h4>聯絡我們</h4>
                <form role="form">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" id="name" name="name"
                               placeholder="姓名*">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control input-lg" id="email" name="email"
                               placeholder="電子郵件 *">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="留下意見..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-embossed btn-wide"><span
                                class="fui-mail"></span>
                        送出
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
<% include footer.ejs %>

<% include includejs.ejs %>
<% include modal.ejs %>
<script src="/plugin/parallax/parallax.js"></script>
<script src="/plugin/wow/wow.js"></script>
<script src="/plugin/backstretch/jquery.backstretch.min.js"></script>
<script>

    new WOW().init();

    $(".main-img").backstretch([
        "images/01.jpg",
        "images/02.jpg",
        "images/03.jpg"
    ], {duration: 4000, fade: 1000});

    var myidea = document.querySelector('#Group1');
    console.log(myidea);
    $('#openapi').on('mouseover', function () {
        myidea.setAttribute("class", "light");
    }).on('mouseout', function () {
        myidea.setAttribute("class", "");
    });





//    TweenMax.staggerFrom(['#html5', '#css3', '#js'], 2, {opacity: 0, x: 600, ease: Back.easeIn}, 0.6);


    var tl = new TimelineLite();
    var immediateRender = false;
    wave();
    function wave() {
        // OPEN API
        tl.from("#wave1", 1, {opacity: 0, immediateRender: immediateRender})
                .from("#wave2", 1, {opacity: 0, immediateRender: immediateRender})
                .from("#wave3", 1, {
                    opacity: 0, immediateRender: immediateRender, onComplete: function () {
                        wave()
                    }
                });
    }

</script>
</body>
</html>
