<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include head.ejs %>
</head>

<body id="login">
<div class="container-fluid authorization_container">
    <row class="frow lex-items-xs-center">
        <div class="col-md-4 hidden-sm-down"></div>
        <div class="col-xs-12 col-md-4 vertical_center">
            <a href="/"><img class="text-xs-center" src="images/agri.png"/></a>
            <hr>
            <form role="form">
                <div class="form-group">
                    <input type="text" class="form-control input-lg" id="name" name="name" placeholder="帳號 *">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control input-lg" id="password" name="password" placeholder="密碼 *">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control input-lg" id="password1" name="password1" placeholder="確認密碼 *">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control input-lg" id="email" name="email" placeholder="電子郵件 *">
                </div>
                <button type="submit" class="col-xs-12 btn btn-primary btn-embossed btn-sm btn-wide">註冊</button>
            </form>
            <div class="spacer"></div>
        </div>
        <div class="col-md-4 hidden-sm-down"></div>
        <!-- /.col-->
    </row>
    <div id="login-bottom" class="col-xs-12">
        <ul>
            <!-- trigger modal -->
            <!--<li class="first"><a href="#" data-toggle="modal" data-target="#myModal">Privacy Policy</a></li>-->
            <!--<li><a href="https://stripe.com/help/contact">Contact</a></li>-->
            <li class="last"><a href="/">© 財團法人資訊工業策進會</a></li>
        </ul>
    </div>
</div>
<!-- /.container -->
<% include modal.ejs %>
<% include includejs.ejs %>
</body>
</html>